html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */

html {
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}

h1,
h2 {
  font-size: 72px;
  line-height: 0.9em;
}

h3 {
  font-size: 56px;
  line-height: 1em;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}
