html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

/* LAYOUT */

.page-container {
  max-width: min(1110px, calc(100% - 48px));
  margin: 0 auto;
}

header {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  margin-left: 24px;
}

nav li:last-child {
  margin-left: 30px;
}

.call-to-action {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.col-12 {
  grid-column-end: span 12;
}

.col-6 {
  grid-column-end: span 6;
}

.col-4 {
  grid-column-end: span 4;
}

.col-3 {
  grid-column-end: span 3;
}

.col-2 {
  grid-column-end: span 2;
}

.start-2 {
  grid-column-start: 2;
}

.start-10 {
  grid-column-start: 10;
}

.hero-image {
  display: block;
  margin-bottom: 150px;
  padding-top: 90px;
}

.hero-image img {
  width: 100%;
  object-fit: cover;
}

.hero-info {
  padding-top: 90px;
}

.hero-info h1 {
  margin: 72px 32px 32px 0;
}

.hero-info p {
  margin-bottom: 32px;
}

h2 {
  margin: 50px 0 80px;
}

.value-prop {
  margin-bottom: 150px;
}

.value-prop img {
  margin-bottom: 32px;
}

.value-prop h4 {
  margin-bottom: 24px;
}

.highlight-section {
  align-items: center;
  padding: 72px 0;
  margin-bottom: 150px;
}

.footer-top {
  padding: 60px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons > a:not(:first-child) {
  margin-left: 14px;
}

.footer-links {
  padding: 40px 0 64px;
}

@media screen and (max-width: 800px) {
  .col-12,
  .col-6,
  .col-4,
  .col-3,
  .col-2 {
    grid-column-end: span 12;
  }

  .start-2,
  .start-10 {
    grid-column-start: 1;
  }

  header {
    position: relative;
  }

  nav {
    position: absolute;
    transform: scale(0, 0);
  }

  .full-width-mobile {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .hero-image {
    padding-top: 0;
    order: -1;
    margin-bottom: 0;
  }

  .hero-info {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 140px;
  }

  .hero-info h1 {
    margin: 0;
    margin-bottom: 24px;
  }

  .value-prop {
    margin-bottom: 80px;
  }

  .value-prop:last-of-type {
    margin-bottom: 140px;
  }

  .highlight-section .call-to-action {
    margin-top: 40px;
    justify-self: center;
  }

  .footer-top {
    padding: 80px 24px 40px;
    flex-direction: column;
  }

  .footer-top > .logo {
    margin-bottom: 24px;
  }

  .footer-links > div {
    margin-bottom: 24px;
  }
}

/* TYPOGRAPHY */

html {
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}

h1,
h2 {
  font-size: 72px;
  line-height: 0.9em;
}
@media screen and (max-width: 800px) {
  body {
    text-align: center;
  }

  h1,
  h2 {
    font-size: 50px;
    line-height: 100%;
    text-align: center;
  }

  h3 {
    font-size: 40px;
  }
}

h3 {
  font-size: 56px;
  line-height: 1em;
}

h4 {
  font-size: 28px;
}

h5,
a {
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-links {
  line-height: 225%;
}

.footer-links h5 {
  line-height: 350%;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
